---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<meta
			name='description'
			content='Associazione Effatà-Apriti Onlus, accoglie con l’aiuto dei volontari persone senza fissa dimora con grave disagio sociale o problemi di forte emarginazione'
		/>
		<meta property='og:type' content='website' />
		<meta property='og:title' content={title} />
		<meta
			property='og:description'
			content='Associazione Effatà-Apriti Onlus, accoglie con l’aiuto dei volontari persone senza fissa dimora con grave disagio sociale o problemi di forte emarginazione'
		/>
		<meta property='og:site_name' content='Effatà - Apriti' />
		<meta property='og:image' content='/assets/images/hero.jpg' />
	</head>
	<body class='bg-slate-50 text-slate-800'>
		<main>
			<slot />
		</main>
		<style is:global>
			*,
			*::after,
			*::before {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}

			body {
				font-size: 1rem;
			}

			body > *:not(img) {
				max-width: 80rem;
				margin: auto;
			}
		</style>
	</body>
</html>
